.slide-fade-enter-active {
  transition: all ease-out 0.2s;
}

.slide-fade-leave-active {
  transition: all cubic-bezier(1, 0.5, 0.8, 1) 0.2s;
}

.slide-fade-enter-from {
  // transform: translateY(100px);
  // opacity: 0;
}
.slide-fade-leave-to {
  // transform: translateX(20px);
  // opacity: 0;
}

.content-area {
  position: relative;
  left: 0;
  top: 60px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-self: center;

  &.fixed-layout {
    position: fixed;
  }

  > * {
    margin: auto;
  }
  .transition-wp {
    position: relative;
    // &.onSlide {
    //   width: 100%;
    //   overflow: hidden;
    //   > div {
    //     position: absolute;
    //     width: 100%;
    //     left: 0;
    //   }
    //   .slide-right-enter-active {
    //     position: relative;
    //   }
    // }
  }
  .container {
  }
}
