@import "./response.scss";
.work-container {
  // max-width: 1600px;
  img {
    width: 100%;
  }
}
.only-pc {
  display: none;
}
@include for-size-min("extra-small") {
  .only-mobile {
    display: none;
  }
  .only-pc {
    display: block;
  }
}

.works-content {
  margin-top: 32px;
}

.works-section {
  margin-top: 12px;
  background: #fff;
  border-radius: 16px;
  padding: 48px 24px;
  color: #0c0c0c;
}
.project-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.project-text {
  margin-top: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.sub-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}

.sub-text {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

@media (min-width: 768px) {
  .works-section {
    margin-top: 32px;
    padding: 176px 24px;
    .works-inner {
      display: flex;
      justify-content: center;
      // max-width: 1120px;
      max-width: 1920px;
      margin: auto;
    }
    .works-box {
      width: 50%;
    }
    .project-title {
      font-family: "Pretendard";
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 78px;
      // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .project-text {
      margin-top: 32px;
      font-size: 36px;
      line-height: 46px;
    }
    .btn-wrap {
      margin-top: 46px;
      & + .btn-wrap {
        margin-top: 16px;
      }
      .btn-view {
        display: inline-block;
        border: 1px solid #0c0c0c;
        background: #0c0c0c;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        height: 40px;
        line-height: 40px;
        width: 175px;
        font-family: "Chillax-Variable";
        padding-left: 19px;
      }
      .btn-copy {
        display: inline-block;
        border: 1px solid #0c0c0c;
        background: #fff;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 700;
        color: #0c0c0c;
        height: 40px;
        line-height: 40px;
        width: 140px;
        font-family: "Chillax-Variable";
        padding-left: 19px;
      }
      .ico-view {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../../assets/images/ico/ico-view.png") no-repeat 0 0;
        vertical-align: -8px;
        margin-left: 10px;
      }
      .ico-link {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../../assets/images/ico/ico-link.png") no-repeat 0 0;
        vertical-align: -6px;
        margin-left: 10px;
      }
    }
    .sub-wrap {
      display: flex;
      margin-top: 104px;
      .sub-box {
        flex: 1;
      }
    }
    .sub-title {
      display: block;
      font-family: "Pretendard";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
    .sub-text {
      display: block;
      margin-top: 8px;
      font-family: "Pretendard";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .mt-30 {
      margin-top: 30px;
    }
    .br_pc {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .works-content {
    width: 100%;
  }
  .br_pc {
    display: block;
  }
}

// content responsive
@include for-size-min("extra-small") {
  * {
    font-size: 14px;
  }
  .works-section {
    .works-inner {
      width: 728px;
      .works-box {
        padding-right: 16px;
        & + .works-box {
          padding-left: 16px;
          padding-right: 0;
        }
      }
    }
    .project-title {
      font-size: 32px;
      line-height: 1.4;
    }
    .project-text {
      font-size: 24px;
      line-height: 1.5;
    }
    .sub-title {
      font-size: 14px;
    }
    .sub-text {
      font-size: 14px;
    }
  }
  .page-wp {
    .work-together-area .work-together-content h2 {
      font-size: 24px;
    }
    .more-project-area .more-project-content {
      padding: 96px 32px 240px;
      .more-project-title-area h2 {
        font-size: 40px;
      }
    }
    .more-project-area
      .more-project-content
      .more-project-title-area
      .title-desc {
      font-size: 14px;
    }
  }
}

@include for-size-min("medium") {
  .works-section {
    .works-inner {
      width: 952px;
      .works-box {
        padding-right: 37px;
        & + .works-box {
          padding-left: 37px;
          padding-right: 0;
        }
      }
    }
    .project-title {
      font-size: 32px;
    }
    .project-text {
      font-size: 24px;
    }
    .sub-title {
      font-size: 14px;
    }
    .sub-text {
      font-size: 14px;
    }
  }
  .page-wp {
    .work-together-area .work-together-content h2 {
      font-size: 24px;
    }
    .more-project-area .more-project-content .more-project-title-area h2 {
      font-size: 40px;
    }
    .more-project-area
      .more-project-content
      .more-project-title-area
      .title-desc {
      font-size: 14px;
    }
  }
}
@include for-size-min("xlarge") {
  * {
    font-size: 18px;
  }
  .works-section {
    .works-inner {
      width: 1120px;
    }
    .project-title {
      font-size: 64px;
    }
    .project-text {
      font-size: 36px;
    }
    .sub-title {
      font-size: 18px;
    }
    .sub-text {
      font-size: 18px;
    }
  }
  .page-wp {
    .work-together-area .work-together-content h2 {
      font-size: 40px;
    }
    .more-project-area .more-project-content .more-project-title-area h2 {
      font-size: 104px;
    }
    .more-project-area
      .more-project-content
      .more-project-title-area
      .title-desc {
      font-size: 16px;
    }
  }
}

@include for-size-min("xxlarge") {
  * {
    font-size: 18px;
  }
  .works-section {
    .works-inner {
      width: 1400px;
    }
  }
}
