// 미디어 쿼리를 위한 변수 설정
$breakpoints: (
  // "extra-small": var(--extra-small),
  // "small": var(--small),
  // "medium": var(--medium),
  // "large": var(--large),
  // "xlarge": var(--xlarge),
  // "xxlarge": var(--xxlarge),
  // "xxxlarge": var(--xxxlarge),
  "extra-small": 767px,
  "small": 1023px,
  "medium": 1279px,
  "large": 1339px,
  "xlarge": 1599px,
  "xxlarge": 1919px,
  "xxxlarge": 1920px
);

// 미디어 쿼리를 생성하는 mixin
@mixin for-size-min($size) {
  $breakpoint: map-get($breakpoints, $size);

  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}
@mixin for-size-max($size) {
  $breakpoint: map-get($breakpoints, $size);

  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

// 각 구간 해상도에 따른 스타일 적용
body {
  @include for-size-min("extra-small") {
    // 0 ~ 767px 스타일
  }

  @include for-size-min("small") {
    // 768 ~ 1023px 스타일
  }

  @include for-size-min("medium") {
    // 1024 ~ 1279px 스타일
  }

  @include for-size-min("large") {
    // 1280 ~ 1339px 스타일
  }

  @include for-size-min("xlarge") {
    // 1440 ~ 1599px 스타일
  }

  @include for-size-min("xxlarge") {
    // 1600 ~ 1919px 스타일
  }

  @include for-size-min("xxxlarge") {
    // 1920px 이상 스타일
  }
}

// fontsize
@mixin typo-graphy($fsize: 16, $lhsize: 24, $isBold: 400, $family: "inherit") {
  @if ($family != "inherit") {
    font-family: $family;
  }
  @if ($isBold != 400) {
    font-weight: $isBold;
  }
  font-size: calc($fsize * 1px);
  line-height: calc($lhsize * 1px);
}
@mixin Headlarge {
  @include typo-graphy(64, 78, 700);
}
@mixin Head {
  @include typo-graphy(36, 46, 700);
}

@mixin Title {
  @include for-size-max("extra-small") {
    @include typo-graphy(24, 30);
  }
  @include for-size-min("extra-small") {
    @include typo-graphy(24, 30);
  }
}
@mixin BodyLarge {
  @include typo-graphy(18, 26);
}
@mixin Label {
  @include typo-graphy(14, 18);
}
